# Get Data

In [1]:
import gc
import os
import utils

import numpy as np
import pandas as pd

import dask
import dask.dataframe as dd
from dask.diagnostics import ProgressBar

from matplotlib import pyplot as plt
import seaborn as sns

In [2]:
# register progress bar for compute calls in dask so we have an estimate of how long task will take
pbar = ProgressBar()
pbar.register()

In [3]:
# inferred int32 types cause a type mismatch (int vs float) error when dask sees a null value
# null values cannot be interpreted as ints
custom_dtypes = {
    "date": "object",
    "serial_number": "object",
    "model": "object",
    "capacity_bytes": "float32",
    "failure": "float32",
    "smart_1_normalized": "float32",
    "smart_1_raw": "float32",
    "smart_2_normalized": "float32",
    "smart_2_raw": "float32",
    "smart_3_normalized": "float32",
    "smart_3_raw": "float32",
    "smart_4_normalized": "float32",
    "smart_4_raw": "float32",
    "smart_5_normalized": "float32",
    "smart_5_raw": "float32",
    "smart_7_normalized": "float32",
    "smart_7_raw": "float32",
    "smart_8_normalized": "float32",
    "smart_8_raw": "float32",
    "smart_9_normalized": "float32",
    "smart_9_raw": "float32",
    "smart_10_normalized": "float32",
    "smart_10_raw": "float32",
    "smart_11_normalized": "float32",
    "smart_11_raw": "float32",
    "smart_12_normalized": "float32",
    "smart_12_raw": "float32",
    "smart_13_normalized": "float32",
    "smart_13_raw": "float32",
    "smart_15_normalized": "float32",
    "smart_15_raw": "float32",
    "smart_16_normalized": "float32",
    "smart_16_raw": "float32",
    "smart_17_normalized": "float32",
    "smart_17_raw": "float32",
    "smart_22_normalized": "float32",
    "smart_22_raw": "float32",
    "smart_23_normalized": "float32",
    "smart_23_raw": "float32",
    "smart_24_normalized": "float32",
    "smart_24_raw": "float32",
    "smart_168_normalized": "float32",
    "smart_168_raw": "float32",
    "smart_170_normalized": "float32",
    "smart_170_raw": "float32",
    "smart_173_normalized": "float32",
    "smart_173_raw": "float32",
    "smart_174_normalized": "float32",
    "smart_174_raw": "float32",
    "smart_177_normalized": "float32",
    "smart_177_raw": "float32",
    "smart_179_normalized": "float32",
    "smart_179_raw": "float32",
    "smart_181_normalized": "float32",
    "smart_181_raw": "float32",
    "smart_182_normalized": "float32",
    "smart_182_raw": "float32",
    "smart_183_normalized": "float32",
    "smart_183_raw": "float32",
    "smart_184_normalized": "float32",
    "smart_184_raw": "float32",
    "smart_187_normalized": "float32",
    "smart_187_raw": "float32",
    "smart_188_normalized": "float32",
    "smart_188_raw": "float32",
    "smart_189_normalized": "float32",
    "smart_189_raw": "float32",
    "smart_190_normalized": "float32",
    "smart_190_raw": "float32",
    "smart_191_normalized": "float32",
    "smart_191_raw": "float32",
    "smart_192_normalized": "float32",
    "smart_192_raw": "float32",
    "smart_193_normalized": "float32",
    "smart_193_raw": "float32",
    "smart_194_normalized": "float32",
    "smart_194_raw": "float32",
    "smart_195_normalized": "float32",
    "smart_195_raw": "float32",
    "smart_196_normalized": "float32",
    "smart_196_raw": "float32",
    "smart_197_normalized": "float32",
    "smart_197_raw": "float32",
    "smart_198_normalized": "float32",
    "smart_198_raw": "float32",
    "smart_199_normalized": "float32",
    "smart_199_raw": "float32",
    "smart_200_normalized": "float32",
    "smart_200_raw": "float32",
    "smart_201_normalized": "float32",
    "smart_201_raw": "float32",
    "smart_218_normalized": "float32",
    "smart_218_raw": "float32",
    "smart_220_normalized": "float32",
    "smart_220_raw": "float32",
    "smart_222_normalized": "float32",
    "smart_222_raw": "float32",
    "smart_223_normalized": "float32",
    "smart_223_raw": "float32",
    "smart_224_normalized": "float32",
    "smart_224_raw": "float32",
    "smart_225_normalized": "float32",
    "smart_225_raw": "float32",
    "smart_226_normalized": "float32",
    "smart_226_raw": "float32",
    "smart_231_normalized": "float32",
    "smart_231_raw": "float32",
    "smart_232_normalized": "float32",
    "smart_232_raw": "float32",
    "smart_233_normalized": "float32",
    "smart_233_raw": "float32",
    "smart_235_normalized": "float32",
    "smart_235_raw": "float32",
    "smart_240_normalized": "float32",
    "smart_240_raw": "float32",
    "smart_241_normalized": "float32",
    "smart_241_raw": "float32",
    "smart_242_normalized": "float32",
    "smart_242_raw": "float32",
    "smart_250_normalized": "float32",
    "smart_250_raw": "float32",
    "smart_251_normalized": "float32",
    "smart_251_raw": "float32",
    "smart_252_normalized": "float32",
    "smart_252_raw": "float32",
    "smart_254_normalized": "float32",
    "smart_254_raw": "float32",
    "smart_255_normalized": "float32",
    "smart_255_raw": "float32",
}

In [4]:
# read all the data into one dataframe. keep only seagate data for now
DATA_ROOT_DIR = '/home/kachauha/Downloads/'
df4 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q4_2018', '*.csv'), dtype=custom_dtypes)
df4 = utils.optimal_repartition_df(df4[df4['model'].str.startswith('S')])

df3 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q3_2018', '*.csv'), dtype=custom_dtypes)
df3 = utils.optimal_repartition_df(df3[df3['model'].str.startswith('S')])

df2 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q2_2018', '*.csv'), dtype=custom_dtypes)
df2 = utils.optimal_repartition_df(df2[df2['model'].str.startswith('S')])

df = dd.concat(dfs=[df2, df3, df4], interleave_partitions=True)
df = utils.optimal_repartition_df(df)
dd.compute(df.shape)

[########################################] | 100% Completed | 52.4s
[########################################] | 100% Completed | 47.4s
[########################################] | 100% Completed | 45.5s
[########################################] | 100% Completed |  2min 27.9s
[########################################] | 100% Completed |  1min 49.3s

((21325562, 129),)

# Stats and Description

In [5]:
# failed drives ids
failed_sers = df[df['failure']==1][['serial_number', 'model']].compute()
failed_sers.head()

[########################################] | 100% Completed |  1min 56.8s

      serial_number          model
75537      S301PRMW    ST4000DM000
90633      ZCH04S2S  ST12000NM0007
44365      Z3068Y7A    ST4000DM000
53189      Z300TBP2    ST4000DM000
54619      Z300KJ26    ST4000DM000

In [6]:
# working drives ids
working_sers = df[~df['serial_number'].isin(failed_sers)][['serial_number', 'model']]\
                    .drop_duplicates()\
                    .compute()
working_sers.head()

[########################################] | 100% Completed |  2min 17.6s

  serial_number         model
0      Z305B2QN   ST4000DM000
2      ZA16NQJR  ST8000NM0055
3      ZA18CEBT  ST8000NM0055
4      ZA18CEBS  ST8000NM0055
5      Z305DEMG   ST4000DM000

In [10]:
# how many drives by model, and what is the fail percentage
model_stats = pd.merge(failed_sers['model'].value_counts().to_frame('failed_count').reset_index(),
                        working_sers['model'].value_counts().to_frame('working_count').reset_index(),
                        how='outer').fillna(0)

# total count of model, raw value and as a percent of total drives
model_stats['total_count'] = model_stats['failed_count'] + model_stats['working_count']
model_stats['total_percent'] = np.around(100 * model_stats['total_count'] / model_stats['total_count'].sum(), decimals=2) 

# rename the index column as the model column
model_stats.rename(columns={'index': 'model'}, inplace=True)

# percentage of instances that have failed, per model
model_stats['fail_percent'] = np.around(100 * model_stats['failed_count'] / model_stats['total_count'], decimals=2)
model_stats.sort_values(by=['total_count'], ascending=False)

,model,failed_count,working_count,total_count,total_percent,fail_percent
1,ST12000NM0007,265.0,32607,32872.0,35.24,0.81
0,ST4000DM000,403.0,31210,31613.0,33.89,1.27
2,ST8000NM0055,98.0,14481,14579.0,15.63,0.67
3,ST8000DM002,71.0,9944,10015.0,10.74,0.71
5,ST6000DX000,16.0,1881,1897.0,2.03,0.84
7,ST10000NM0086,4.0,1228,1232.0,1.32,0.32
4,ST500LM012 HN,34.0,676,710.0,0.76,4.79
6,ST500LM030,7.0,118,125.0,0.13,5.60
9,ST4000DM005,2.0,85,87.0,0.09,2.30
11,ST9250315AS,0.0,42,42.0,0.05,0.00
10,ST8000DM005,2.0,26,28.0,0.03,7.14
12,ST9320325AS,0.0,19,19.0,0.02,0.00
13,ST6000DM001,0.0,15,15.0,0.02,0.00
14,Seagate BarraCuda SSD ZA500CM10002,0.0,13,13.0,0.01,0.00
8,ST8000DM004,3.0,7,10.0,0.01,30.00
15,ST250LM004 HN,0.0,9,9.0,0.01,0.00
16,ST3160316AS,0.0,9,9.0,0.01,0.00
17,ST320LT007,0.0,9,9.0,0.01,0.00
18,ST6000DM004,0.0,3,3.0,0.00,0.00
19,ST3160318AS,0.0,3,3.0,0.00,0.00
20,ST1000LM024 HN,0.0,1,1.0,0.00,0.00
21,Seagate BarraCuda SSD ZA2000CM10002,0.0,1,1.0,0.00,0.00

In [20]:
# only do this for failed drives -- easier to deal with
failed_df = df[df['serial_number'].isin(failed_sers['serial_number'])]
dd.compute(failed_df.shape)

[########################################] | 100% Completed |  2min  8.7s

((122711, 129),)

In [8]:
def rul_func(drive_data):
    return drive_data.assign(rul_days=drive_data['date'].max()-drive_data['date'])

In [21]:
# convert from str to datetime
failed_df['date'] = failed_df['date'].astype('datetime64')

# =============================== FOR DASK =============================== #
# create meta of the resulting failed_df otherwise dask complains
rul_meta = failed_df._meta
rul_meta = rul_meta.assign(rul_days=rul_meta['date'].max()-rul_meta['date'])
# ======================================================================== #

# get remaining useful life as diff(today, maxday)
# reset index coz result is multiindexed. drop=True coz serial_number already exists as a col
failed_df = failed_df.groupby('serial_number').apply(rul_func, meta=rul_meta).reset_index(drop=True)

In [22]:
# number of class 0 data poitns
(failed_df['rul_days'] < np.timedelta64(14, 'D')).sum().compute()

[########################################] | 100% Completed |  2min 33.0s

12196

In [23]:
# number of class 1 data poitns
((failed_df['rul_days'] >= np.timedelta64(14, 'D')) & (failed_df['rul_days'] < np.timedelta64(42, 'D'))).sum().compute()

[########################################] | 100% Completed |  2min 37.7s

22631

In [24]:
# number of class 2 data poitns
(failed_df['rul_days'] >= np.timedelta64(42, 'D')).sum().compute()

[########################################] | 100% Completed |  2min 34.9s

87884

# Nan Counts Within Models

In [7]:
# top 5 models make up 95% of data - start with analyzing these first
top_models_seagate = ['ST12000NM0007', 'ST4000DM000', 'ST8000NM0055', 'ST8000DM002', 'ST6000DX000']

In [10]:
for model in top_models_seagate:
    # get nan counts and percents, but print only those which are not 0 or 1
    nanct = utils.get_nan_count_percent(df[df['model']==model])
    print(nanct[(nanct['percent']!=0) & (nanct['percent']!=1)].compute())

[########################################] | 100% Completed |  2min  5.5s
[########################################] | 100% Completed |  2min  4.3s
                      count   percent
smart_1_normalized      218  0.000034
smart_1_raw             218  0.000034
smart_3_normalized      218  0.000034
smart_3_raw             218  0.000034
smart_4_normalized      218  0.000034
smart_4_raw             218  0.000034
smart_5_normalized      218  0.000034
smart_5_raw             218  0.000034
smart_7_normalized      218  0.000034
smart_7_raw             218  0.000034
smart_9_normalized      218  0.000034
smart_9_raw             218  0.000034
smart_10_normalized     218  0.000034
smart_10_raw            218  0.000034
smart_12_normalized     218  0.000034
smart_12_raw            218  0.000034
smart_187_normalized    218  0.000034
smart_187_raw           218  0.000034
smart_188_normalized    218  0.000034
smart_188_raw           218  0.000034
smart_190_normalized    218  0.000034
smart_190_raw           218  0.000034
smart_192_normalized    218  0.000034
smart_192_raw           218  0.000034
smart_193_normalized    218  0.000034
smart_193_raw           218  0.000034
smart_194_normalized    218  0.000034
smart_194_raw           218  0.000034
smart_195_normalized    218  0.000034
smart_195_raw           218  0.000034
smart_197_normalized    218  0.000034
smart_197_raw           218  0.000034
smart_198_normalized    218  0.000034
smart_198_raw           218  0.000034
smart_199_normalized    218  0.000034
smart_199_raw           218  0.000034
smart_200_normalized    218  0.000034
smart_200_raw           218  0.000034
smart_240_normalized    218  0.000034
smart_240_raw           218  0.000034
smart_241_normalized    218  0.000034
smart_241_raw           218  0.000034
smart_242_normalized    218  0.000034
smart_242_raw           218  0.000034
[########################################] | 100% Completed |  2min  9.6s
[########################################] | 100% Completed |  2min  9.9s
                      count  percent
smart_1_normalized      145  0.00002
smart_1_raw             145  0.00002
smart_3_normalized      145  0.00002
smart_3_raw             145  0.00002
smart_4_normalized      145  0.00002
smart_4_raw             145  0.00002
smart_5_normalized      145  0.00002
smart_5_raw             145  0.00002
smart_7_normalized      145  0.00002
smart_7_raw             145  0.00002
smart_9_normalized      145  0.00002
smart_9_raw             145  0.00002
smart_10_normalized     145  0.00002
smart_10_raw            145  0.00002
smart_12_normalized     145  0.00002
smart_12_raw            145  0.00002
smart_183_normalized    145  0.00002
smart_183_raw           145  0.00002
smart_184_normalized    145  0.00002
smart_184_raw           145  0.00002
smart_187_normalized    145  0.00002
smart_187_raw           145  0.00002
smart_188_normalized    145  0.00002
smart_188_raw           145  0.00002
smart_189_normalized    145  0.00002
smart_189_raw           145  0.00002
smart_190_normalized    145  0.00002
smart_190_raw           145  0.00002
smart_191_normalized    145  0.00002
smart_191_raw           145  0.00002
smart_192_normalized    145  0.00002
smart_192_raw           145  0.00002
smart_193_normalized    145  0.00002
smart_193_raw           145  0.00002
smart_194_normalized    145  0.00002
smart_194_raw           145  0.00002
smart_197_normalized    145  0.00002
smart_197_raw           145  0.00002
smart_198_normalized    145  0.00002
smart_198_raw           145  0.00002
smart_199_normalized    145  0.00002
smart_199_raw           145  0.00002
smart_240_normalized    145  0.00002
smart_240_raw           145  0.00002
smart_241_normalized    145  0.00002
smart_241_raw           145  0.00002
smart_242_normalized    145  0.00002
smart_242_raw           145  0.00002
[########################################] | 100% Completed |  1min 58.4s
[########################################] | 100% Completed |  2min  7.1s
Empty DataFrame
Columns: [count, percent]
Index: []
[########################################] | 100% Completed |  2min  6.0s
[########################################] | 100% Completed |  2min  0.1s
                      count   percent
smart_1_normalized       11  0.000004
smart_1_raw              11  0.000004
smart_3_normalized       11  0.000004
smart_3_raw              11  0.000004
smart_4_normalized       11  0.000004
smart_4_raw              11  0.000004
smart_5_normalized       11  0.000004
smart_5_raw              11  0.000004
smart_7_normalized       11  0.000004
smart_7_raw              11  0.000004
smart_9_normalized       11  0.000004
smart_9_raw              11  0.000004
smart_10_normalized      11  0.000004
smart_10_raw             11  0.000004
smart_12_normalized      11  0.000004
smart_12_raw             11  0.000004
smart_184_normalized     11  0.000004
smart_184_raw            11  0.000004
smart_187_normalized     11  0.000004
smart_187_raw            11  0.000004
smart_188_normalized     11  0.000004
smart_188_raw            11  0.000004
smart_189_normalized     11  0.000004
smart_189_raw            11  0.000004
smart_190_normalized     11  0.000004
smart_190_raw            11  0.000004
smart_191_normalized     11  0.000004
smart_191_raw            11  0.000004
smart_192_normalized     11  0.000004
smart_192_raw            11  0.000004
smart_193_normalized     11  0.000004
smart_193_raw            11  0.000004
smart_194_normalized     11  0.000004
smart_194_raw            11  0.000004
smart_195_normalized     11  0.000004
smart_195_raw            11  0.000004
smart_197_normalized     11  0.000004
smart_197_raw            11  0.000004
smart_198_normalized     11  0.000004
smart_198_raw            11  0.000004
smart_199_normalized     11  0.000004
smart_199_raw            11  0.000004
smart_240_normalized     11  0.000004
smart_240_raw            11  0.000004
smart_241_normalized     11  0.000004
smart_241_raw            11  0.000004
smart_242_normalized     11  0.000004
smart_242_raw            11  0.000004
[########################################] | 100% Completed |  2min 11.1s
[########################################] | 100% Completed |  1min 59.1s
                      count   percent
smart_1_normalized       29  0.000062
smart_1_raw              29  0.000062
smart_3_normalized       29  0.000062
smart_3_raw              29  0.000062
smart_4_normalized       29  0.000062
smart_4_raw              29  0.000062
smart_5_normalized       29  0.000062
smart_5_raw              29  0.000062
smart_7_normalized       29  0.000062
smart_7_raw              29  0.000062
smart_9_normalized       29  0.000062
smart_9_raw              29  0.000062
smart_10_normalized      29  0.000062
smart_10_raw             29  0.000062
smart_12_normalized      29  0.000062
smart_12_raw             29  0.000062
smart_183_normalized     29  0.000062
smart_183_raw            29  0.000062
smart_184_normalized     29  0.000062
smart_184_raw            29  0.000062
smart_187_normalized     29  0.000062
smart_187_raw            29  0.000062
smart_188_normalized     29  0.000062
smart_188_raw            29  0.000062
smart_189_normalized     29  0.000062
smart_189_raw            29  0.000062
smart_190_normalized     29  0.000062
smart_190_raw            29  0.000062
smart_191_normalized     29  0.000062
smart_191_raw            29  0.000062
smart_192_normalized     29  0.000062
smart_192_raw            29  0.000062
smart_193_normalized     29  0.000062
smart_193_raw            29  0.000062
smart_194_normalized     29  0.000062
smart_194_raw            29  0.000062
smart_195_normalized     29  0.000062
smart_195_raw            29  0.000062
smart_197_normalized     29  0.000062
smart_197_raw            29  0.000062
smart_198_normalized     29  0.000062
smart_198_raw            29  0.000062
smart_199_normalized     29  0.000062
smart_199_raw            29  0.000062
smart_240_normalized     29  0.000062
smart_240_raw            29  0.000062
smart_241_normalized     29  0.000062
smart_241_raw            29  0.000062
smart_242_normalized     29  0.000062
smart_242_raw            29  0.000062

In [ ]:
# do the same for hgst models
# read all the data into one dataframe. keep only seagate data for now
DATA_ROOT_DIR = '/home/kachauha/Downloads/'
df4 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q4_2018', '*.csv'), dtype=custom_dtypes)
df4 = utils.optimal_repartition_df(df4[df4['model'].str.startswith('HG')])

df3 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q3_2018', '*.csv'), dtype=custom_dtypes)
df3 = utils.optimal_repartition_df(df3[df3['model'].str.startswith('HG')])

df2 = dd.read_csv(os.path.join(DATA_ROOT_DIR, 'data_Q2_2018', '*.csv'), dtype=custom_dtypes)
df2 = utils.optimal_repartition_df(df2[df2['model'].str.startswith('HG')])

hgst_df = dd.concat(dfs=[df2, df3, df4], interleave_partitions=True)
hgst_df = utils.optimal_repartition_df(hgst_df)
dd.compute(hgst_df.shape)

In [ ]:
for model in top_models_hgst:
    # get nan counts and percents, but print only those which are not 0 or 1
    nanct = utils.get_nan_count_percent(df[df['model']==model])
    print(nanct[(nanct['percent']!=0) & (nanct['percent']!=1)].compute())